.about-me {
  background-color: white;
}

.about-me::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 90px;
  background: #2a2a2c;
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
}

.heading-num {
  margin-top: 3em;
  z-index: -2;
  font-size: 3.5em;
  color: #ff4d5a;
  position: relative;
  padding-left: 4rem;
  padding-right: 3.2rem;
  font-family: "Abril Fatface";
  line-height: 1.1;
}

.heading-num:after {
  content: "";
  width: 3rem;
  height: 2px;
  background: #020b16;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.who {
  margin-left: 8rem;
  margin-top: -2.95em;
  font-size: 2.5em;
  font-weight: lighter;
  letter-spacing: 0.2em;
}

.who-title {
  color: black;
  font-weight: bolder;
  font-size: 2.2em;
  letter-spacing: 0.06em;
}

.who-subtitle {
  color: black;
  font-size: 1.8em;
  font-weight: lighter;
}
.fullName {
  color: #0a7dc1;
}
.box {
  position: abosolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.program-lan {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  margin: 2em;
  column-gap: 3em;
  row-gap: 1em;
  img {
    max-width: 130px;
  }
}

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  background-color: $primarycolor;
  color: white;
  transform: rotateY(180deg);
}

.front-end {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  margin: 2em;
  column-gap: 3em;
  row-gap: 1em;
  img {
    height: auto;
    max-width: 130px;
  }
}

.back-end {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  margin: 2em;
  column-gap: 3em;
  row-gap: 1em;
  img {
    height: auto;
    max-width: 130px;
  }
}

.infrastructure {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  margin: 2em;
  column-gap: 3em;
  row-gap: 1em;
  img {
    height: auto;
    max-width: 130px;
  }
}

.skills-heading {
  margin-top: 5em;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

hr {
  background-color: $primarycolor;
  border: 2px solid $primarycolor;
  border-radius: 15px;
  height: 6px;
}

.long {
  width: 12em;
}
.short {
  width: 4em;
}

@media only screen and (min-width: 800px) {
  .infrastructure,
  .front-end,
  .back-end,
  .program-lan {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-me::before {
    content: "";
    height: 94px;
  }
  .who-subtitle {
    color: black;
    font-size: 1.8em;
    font-weight: lighter;
    margin-right: 2em;
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1250px) {
  .infrastructure,
  .front-end,
  .back-end,
  .program-lan {
    grid-template-columns: repeat(4, 1fr);
  }

  .who-intro {
    margin-top: -1.5em;
    font-size: 1.5em;
  }
  .who-title {
    font-size: 2.2em;
    letter-spacing: 0.06em;
  }

  .who-subtitle {
    color: black;
    font-size: 1.8em;
    font-weight: lighter;
  }
  .skills-heading {
    font-size: 1.8em;
  }
  .long {
    width: 15em;
  }
  .short {
    width: 7em;
  }
}
